<<<<<<< HEAD
<h2> 贊助方案 </h2>

<% @donate_items.each do |donate_item| %>
  <div>
    <% if current_user.id === Project.find_by!(id: params[:id]).user_id %>
      <%= link_to '編輯贊助項目', edit_project_donate_item_path(project_id: donate_item.project_id, id: donate_item) %>
      <%= link_to '刪除贊助項目', project_donate_item_path(project_id: donate_item.project_id, id: donate_item), method: 'delete', data:{ confirm: "確定要刪除「#{donate_item.title}」項目嗎？" } %>
    <% end %>

    <div>
      <h2><%= donate_item.title %></h2>
      <p><%= donate_item.content %></p>
      <span>NT$ <%= donate_item.price %></span>
    </div>

    <%= link_to '贊助此項目', project_donate_item_path(project_id: params[:id], id: donate_item) %>
  </div>
=======
<h2> 贊助方案 </h2>

<% @donate_items.each do |donate_item| %>
  <div>
    <% if current_user.id === Project.find_by!(id: params[:id]).user_id %>
      <%= link_to '編輯贊助項目', edit_project_donate_item_path(project_id: donate_item.project_id, id: donate_item) %>
      <%= link_to '刪除贊助項目', project_donate_item_path(project_id: donate_item.project_id, id: donate_item), method: 'delete', data:{ confirm: "確定要刪除「#{donate_item.title}」項目嗎？" } %>
    <% end %>

    <div>
      <h2><%= donate_item.title %></h2>
      <p><%= donate_item.content %></p>
      <span>NT$ <%= donate_item.price %></span>
    </div>

    <%= link_to '贊助此項目', project_donate_item_path(project_id: params[:id], id: donate_item) %>
  </div>
>>>>>>> origin/feature/liked_comment_reload
<% end %>