<% @donate_items.each do |donate_item| %>
  <div class='p-4 mb-3 border border-gray-300 border-solid w-full rounded-xl'>
    <div class='text-center mb-3'>
        <% if current_user&.id === Project.find_by!(id: params[:id]).user_id %>
          <%= link_to '編輯贊助項目', edit_project_donate_item_path(project_id: donate_item.project_id, id: donate_item), class:'mr-2 p-3 inline-block border border-purple-400 rounded-xl border-soild' %>
          <%= link_to '刪除贊助項目', project_donate_item_path(project_id: donate_item.project_id, id: donate_item), method: 'delete',class:'text-red-400', data:{ confirm: "確定要刪除「#{donate_item.title}」項目嗎？" } %>
        <% end %>
    </div>
    <div>
      <h2 class='text-2xl tracking-wider font-semi pl-3'><%= donate_item.title %></h2>
      <span class='mb-3 text-2xl tracking-wider font-semi inline-block pl-3'>NT$ <%= donate_item.price %></span>
      <div class='ml-2 my-3'>
        <span>已被贊助：<%= donate_item.donate_logs_count %>次</span>
      </div>
      <div>
        <h2>【贊助項目內容】</h2>
        <span><%= donate_item.content %></span>
      </div>
    </div>
    <%= link_to '贊助', project_donate_item_path(project_id: params[:id], id: donate_item), class:'bg-purple-400 text-white inline-block w-full text-center py-4 rounded-3xl hover:bg-purple-500'%>
  </div>
<% end %>