<h1> 贊助方案 </h1>

<% @donate_items.each do |donate_item| %>
  <div>
    <%= link_to '編輯贊助項目', edit_project_donate_item_path(project_id: current_user.project_ids, id: donate_item) %>

    <%= link_to '刪除贊助項目', project_donate_item_path(project_id: current_user.project_ids, id: donate_item), method: 'delete', data:{ confirm: "確定要刪除「#{donate_item.title}」項目嗎？" } %>

    <div>
      <h1><%= donate_item.title %></h1>
      <p><%= donate_item.content %></p>
      <span>NT$ <%= donate_item.price %></span>
    </div>

    <%= link_to '贊助此項目', project_donate_item_path(project_id: current_user.project_ids, id: donate_item) %>
    
    <%= link_to '回到專案', project_path(id: current_user.project_ids) %> 
  </div>
<% end %>