<main >
  <section class='py-10 bg-gray-100'>
    <div class="max-w-6xl mx-auto">
      <h2 class="mb-3 text-2xl text-center text-semibold"><%= @current_project.title %></h2>
      <p class="mb-4 text-center primary-text-color">提案者 <%= @current_project.organizer %></p>
    </div>
  </section>
  <div class='sticky top-0 z-10 bg-white border-t-2 border-b-2 border-gray-300 border-double'>
    <div class="justify-between max-w-6xl px-5 mx-auto lg:flex">
      <div class="flex items-center justify-center h-16 py-3 font-semibold text-gray-400">
        <%= link_to '專案內容', project_path(@current_project), class:"mx-5"%>
        <a href='<%= project_questions_path(@current_project)%>' class="mx-5">
          常見問題 <span class='text-xs align-top'><%= @current_project.questions.count%></span>
        </a>
        <a href='<%= project_comments_path(@current_project)%>' class="mx-5">
          留言專區 <span class='text-xs align-top'><%= @current_project.comments.count%></span>
        </a>
      </div>
    </div>
  </div>
  <div class="w-5/6 py-10 m-auto overflow-x-scroll">
    <div class="flex w-max">
      <% @donate_items.each do |donate_item| %>
        <article class='flex flex-col p-4 mx-3 border border-gray-300 w-72 rounded-xl hover:border-black'>
          <div class='mb-3 text-center'>
              <% if current_user&.id === Project.find_by!(id: donate_item.project_id).user_id %>
                <%= link_to '編輯贊助項目', edit_project_donate_item_path(project_id: donate_item.project_id, id: donate_item), class:'mr-2 p-3 inline-block border border-purple-400 rounded-xl border-soild' %>
                <%= link_to '刪除贊助項目', project_donate_item_path(project_id: donate_item.project_id, id: donate_item), method: 'delete',class:'text-red-400', data:{ confirm: "確定要刪除「#{donate_item.title}」項目嗎？" } %>
              <% end %>
          </div>
          <div class='flex-1'>
            <h2 class='text-2xl tracking-wider font-semi'><%= donate_item.title %></h2>
            <span class='text-2xl tracking-wider inline-blockmb-3 font-semi'>NT$ <%= donate_item.price %></span>
          <% if donate_item.amount %>
            <div class='px-2 my-3 bg-gray-100 rounded-lg w-max'>
              <span class='text-xs text-gray-500'>剩餘: <%= donate_item.amount %> 個</span>
            </div>
          <% end %>
            <div class='px-2 my-3 bg-gray-100 rounded-lg w-max '>
              <span class='text-xs text-gray-500'>已被贊助: <%= donate_item.donate_logs_count || 0 %> 次</span>
            </div>
            <div class='text-gray-500' >
              <h3 class='rounded-sm w-max'>贊助方案內容：</h3>
              <div><%= donate_item.content %></div>
            </div>
          </div>
          <%= link_to '贊助', project_donate_item_path(project_id:  donate_item.project_id, id: donate_item), class:'bg-purple-400 text-white inline-block w-full text-center py-4 rounded-3xl hover:bg-purple-500'%>
        </article>
      <% end %>
    </div>
  </div>
</main>

