<main class='bg-gray-100 py-10'>
  <div class="max-w-3xl mx-auto py-12 p-8 rounded-3xl bg-white">
    <h1 class="text-2xl tracking-wider text-center py-4 my-4 bg-purple-400 rounded-2xl text-white"> 新增贊助方案 </h1>
    <%= render 'form' %>
    <%= form_with model: @donate_item, url: project_donate_items_path(id: current_user.projects.find_by!(id: params[:project_id])), method: :post do |form|%>
      <div class="new-form-list">
        <%= form.label :title, '贊助項目標題',class:"new-form-list-label" %>
        <%= form.text_field :title,class:"new-form-list-field", placeholder: "請輸入標題" %>
      </div>

      <div class="new-form-list">
        <%= form.label :price, '贊助價格',class:"new-form-list-label" %>
        <%= form.text_field :price, class:"new-form-list-field", placeholder: "請輸入新台幣" %> 
      </div>

      <div class="border-solid border-2 border-purple-300 px-6 py-6 mb-4">
        <%= form.label :content, '贊助項目內容',class:"new-form-list-label" %>
        <%= form.rich_text_area :content,class:"focus:ring focus:ring-purple-300" %>
      </div>
      <%= form.submit '更新贊助項目', class:"field bg-purple-400 hover:bg-purple-600 w-full rounded px-6 py-3 text-white" %>
    <% end %>
    <div class='text-center mt-10'>
      <%= link_to '返回專案', project_path(id: params[:project_id]), class:'inline-block p-2 border border-solid border-purple-400 rounded-xl hover:text-gray-400' %></div>
  </div>
</main>



