<main class='bg-gray-100 p-10'>
  <div class='max-w-5xl mx-auto grid grid-cols-10 my-8' data-controller='donate' data-price='<%= @donate_item.price %>'>
    <div class='col-span-6'>
      <div class='mb-5'>
        <h1 class='text-4xl'><%= @donate_item.title %></h1>
      </div>
      <div class='mb-5'>
          <span class='text-3xl'><em>NT$ <%= @donate_item.price %></em></span>
      </div>
      <div>
        <div class='text-gray-400'>
          選擇數量
        </div>
        <div class='flex w-1/2 border border-gray-300 bg-gray-200 rounded-md border-solid'>
          <button class='py-3 px-5' data-action='click->donate#subtract'>–</button>
          <input value='1' type='number' class='flex-1 input-focus rounded px-2' data-action='change->donate#integer' data-donate-target='amount' >
          <button class='py-3 px-5' data-action='click->donate#plus'>+</button>
        </div>
      </div>
      <div class='mt-5'>
        【贊助項目內容】
        <p><%= @donate_item.content %></p>
      </div>
    </div>
    <div class='col-span-4 bg-white rounded-xl py-5 px-3 shadow-md'>
      <div class='mb-2 font-semibold text-gray-400'>額外贊助</div>
      <div class='flex items-center mb-4'>
        <div class='mr-3'><em>NT$</em></div>
        <input type="number" value="0" min="0" class='input-focus border-2 border-solid border-gray-300 rounded-lg p-2 flex-1' data-action='change->donate#priceInteger' data-donate-target='extraDonate'
> 
      </div>
      <div class='grid grid-cols-4 gap-2 border-b border-gray-200 border-solid pb-6'>
        <button class='donate-button' data-action='click->donate#reset'>最低額度</button>
        <button class='donate-button' data-action='click->donate#hundred'>100</button>
        <button class='donate-button' data-action='click->donate#thousand'>1000</button>
        <button class='donate-button' data-action='click->donate#hundredsDigit' >補整數</button>
      </div>
      <h2 class='mt-3 font-semibold text-gray-400'>總金額〈含商品總價與額外贊助〉：</h2>
      <div class='flex justify-end  mx-2 text-3xl'>
        <em><span>NT$ </span><span data-donate-target='sum'></span></em>
      </div>
      <div>
        <input type='submit' class='bg-purple-400 hover:bg-purple-300 w-full rounded-3xl px-6 py-2 text-white' value='直接結帳'>
      </div>
    </ㄘ>
  </div>  
  <%= link_to '回到專案', project_path(id: params[:project_id]) %> 
  <%= form_with model: @donate_item, url: transactions_path, method: "post" do |form| %>
    <%= form.hidden_field :title, value: @donate_item.title %>
    <%= form.hidden_field :price, value: @donate_item.price %>
    <%= form.hidden_field :project_id, value: @donate_item.project_id %>
  <%= form.submit '贊助此項目' %>
<% end %>
</main>
<%# 頁面參照：https://wabay.tw/projects/unsilencedtw/rewards/21155?locale=zh-TW %>


