<main class='p-10 bg-gray-100'>
  <div class='max-w-xl grid-cols-9 py-8 mx-auto lg:max-w-4xl lg:grid' data-controller='donate' data-price='<%= @donate_item.price %>' data-donate-item-title='<%= @donate_item.title %>', data-project-id='<%= @donate_item.project_id %>'>
    <article class='col-span-5'>
      <div class='mb-5'>
        <h2 class='text-4xl'><%= @donate_item.title %></h2>
      </div>
      <div class='mb-5'>
        <span class='text-3xl'><em>NT$ <%= @donate_item.price %></em></span>
      </div>
      <div>
        <div class='text-gray-400'>
          選擇數量
        </div>
        <div class='flex max-w-sm bg-gray-200 border border-gray-300 border-solid rounded-md'>
          <button class='px-5 py-3' data-action='click->donate#subtract'>-</button>
          <input id="amount" value='1' type='number' class='flex-1 px-2 rounded input-focus' data-action='change->donate#integer' data-donate-target='amount'>
          <button class='px-5 py-3' data-action='click->donate#plus'>+</button>
        </div>
      </div>
      <section class='mt-5'>
        <h3 class='text-xl'>贊助方案內容：</h3>
        <p><%= @donate_item.content %></p>
      </section>
    </article>
    <div id="additional_donate_interface" class='col-span-4 px-3 py-5 bg-white shadow-md rounded-xl'>
      
    </div>
  </div>  
</main>



