<div class='flex items-center pr-2 mb-4'>
  <div class=''>
    <%# <% if @project.user.avatar_url != nil %> 
      <%# <%= image_tag(@project.user.avatar_url, :class=> "inline rounded-2xl h-12 w-12 ") %> 
    <%# <% else %> 
      <%= image_tag 'avatar1.png', class: 'rounded-2xl h-12 w-12 mr-1 ' %>
    <%# <% end %> 
  </div>
  <div class='flex-1 p-1 bg-purple-100 rounded-lg'>
    <p class='flex justify-between text-lg'> <%= message.user.username %><span class='text-base text-right text-gray-400'><%= message.created_at.strftime(('%Y-%m-%d %H:%M'))%></span></p>
    <p class='px-3 text-xl text-white bg-gray-400 rounded-xl w-max'><%= message.content %></p>
  </div>
</div>  