<main class=''>
  <section class='py-5 bg-gray-100 reverse-bg'>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="m-auto mb-4 text-xl text-center"><strong>〘 編 輯 個 人 資 料 〙</strong></h2>
    <div class="p-4 mx-auto bg-gray-100 shadow md:w-400 rounded-xl">  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="py-3">
          <p class="mb-2">聯絡信箱</p>
          <p class="bg-gray-200 p-2 rounded-xl"><%= current_user.email %></p>
        </div>
        <div class="py-3">
          <%= f.label :username, "新使用者名稱："%>
          <%= f.text_field :username, autofocus: true, placeholder: "請輸入使用者名稱", autocomplete: "username", class:"mt-2 input-focus" %>
        </div> 
        <div class="py-3">
          <%= f.label :description, "使用者自我簡介："%>
          <%= f.text_area :description, autofocus: true, placeholder: "請輸入自我簡介", autocomplete: "description", class:"mt-2 input-focus h-44" %>
        </div> 
        <% if current_user.uid == nil && current_user.provider == nil  %>
          <div class="pt-3 field">
            <%= f.label :current_password %> <i>(需提供原始密碼，才能更改資料)</i><br />
            <%= f.password_field :current_password, placeholder: "請輸入原始密碼",autocomplete: "current-password", class:"mt-2 input-focus"  %>
          </div>
          <div class="py-3 field">
              <%= f.label :password, "新密碼："%><i>(不想更改，留白即可)</i>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "至少需要#{@minimum_password_length}個字以上密碼", class:"mt-2 input-focus" %>
          </div>
          <div class="py-3 field">
            <%= f.label :password_confirmation, "新密碼確認："%>
            <%= f.password_field :password_confirmation, placeholder: "請再輸入一次密碼", autocomplete: "new-password", class:"mt-2 input-focus" %>
          </div>
        <% else %>
        <% end %>
        <div class="actions">
          <%= f.submit "更新", class:"field bg-purple-400 hover:bg-purple-600 w-full rounded px-6 py-2 text-white my-4" %>
        </div>
      <% end %>
      <div class='flex flex-col items-center py-10 mt-5 border-t border-b border-gray-200 border-solid'>
        <p class='mb-1 text-center text-gray-300'>要跟我們說再見了嗎</p>
        <%= button_to "刪除帳號", registration_path(resource_name), data: { confirm: "確定不要我們了嗎？" }, method: :delete, class:'inline-block py-2 px-3 text-white cursor-not-allowed bg-gray-200 hover:bg-gray-400' %>
      </div>
    </div> 
  </section>
</main>