<%= render "devise/shared/error_messages", resource: resource %>
<main class='py-10 bg-gray-100 wave-bg'>
  <section class="p-4 mx-auto bg-gray-100 md:w-400 rounded-xl">
    <h2 class="text-2xl font-medium tracking-wider text-center primary-text-color">註冊新帳號</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="py-3">
        <%= f.label :email, "電子信箱："%>
        <%= f.email_field :email, autofocus: true, placeholder: "請輸入Email", autocomplete: "email", class:"mt-2 input-focus" %>
      </div>
      <div class="py-3">
        <%= f.label :username, "使用者名稱："%>
        <%= f.text_field :username, autofocus: true, placeholder: "請輸入使用者名稱", autocomplete: "username", class:"mt-2 input-focus" %>
      </div> 
      <div class="py-3">
        <%= f.label :avatar, "大頭照："%>
        <%= f.file_field :avatar, autofocus: true, autocomplete: "description", class:"mt-2 input-focus" %>
      </div>
      <div class="py-3">
        <%= f.label :description, "使用者自我簡介："%>
        <%= f.text_area :description, autofocus: true, placeholder: "請輸入自我簡介", autocomplete: "description", class:"mt-2 input-focus" %>
      </div> 
      <div class="py-3 ">
        <% if @minimum_password_length %>
          <%= f.label :password, "密碼："%><em>(至少需要<%= @minimum_password_length %>個字)</em>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸入密碼", class:"mt-2 input-focus" %><br />
        <% end %>
      </div>
      <div class="py-3">
        <%= f.label :password_confirmation, "密碼確認："%>
        <%= f.password_field :password_confirmation, placeholder: "請再輸入一次密碼", autocomplete: "new-password", class:"mt-2 input-focus" %>
      </div>
      <section class="actions">
        <%= f.submit "註冊", class:" bg-purple-400 hover:bg-purple-600 w-full rounded px-6 py-2 text-white my-4" %>
      </div>
    <% end %>
    <div class='py-2 my-4 outside-link'>
      <%=link_to user_google_oauth2_omniauth_authorize_path, method: :post  do %>
        <img src='https://diat4w9qa5tx9.cloudfront.net/production-aws/assets/icon/google-68239b5f328377ad0e42357804e1f6d21c2a9e5b9e454b8687631725a5540a4e.png' class='inline w-6 align-top'>
        <span>使用google帳號</span>
      <% end %>
    </div>
    <div class='py-2 outside-link'>
      <%=link_to user_facebook_omniauth_authorize_path, method: :post do %>
        <img src='https://upload.wikimedia.org/wikipedia/commons/d/d5/Facebook_F_icon.svg' class='inline w-5 align-top'>
        <span>使用facebook帳號</span>
      <% end %>
    </div>
  </section> 
</main>
