<main>
  <section class='py-10 bg-gray-100'>
    <div class="max-w-6xl mx-auto">
      <h1 class="mb-5 text-2xl text-center"><%= current_user.username %> </h1>
      <p class='text-center'><%= current_user.description %></p>
    </div>
  </section>
  <div class="justify-between px-5 py-4 bg-white border-t-2 border-b-2 border-gray-300 border-double lg:flex">
    <div class="flex items-center justify-center h-16 max-w-6xl py-3 mx-auto font-semibold text-gray-400">
      <div class='current-page'>
        <%=link_to users_profile_path  do %>
          <p>提案者專案數</p>
          <p class="text-center"><span class='mr-1 text-3xl'><%= current_user.projects.count %></span>件</p>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user.projects.count == 0 %>
    <div class="max-w-6xl mx-auto">
      <p class='py-40 my-auto text-center'>目前沒有專案，立即去<%= link_to "探索", projects_path, class:"primary-text-color hover:text-purple-300 mx-2"%>！</p>
    </div>
  <% else %>
    <div class="max-w-6xl grid-cols-9 mx-auto mt-8 md:grid">
      <% @projects.each do |project| %>
        <div class="col-span-3 mx-5 mb-10 FundraisingItem">
          <div class="projects-img-box">
            <a href='projects/<%= "#{project.id}" %>', class='projects-link'>
              <%= image_tag project.avatar.variant(resize_to_limit: [1000, 500]), :class=> "object-cover w-full h-full rounded-3xl" %>
            </a>                    
          </div>
          <div class='mb-4'>
            <h2 class='my-1 text-xl font-semibold hover:text-purple-400'><%= link_to project.title, project_path(project) %></h2>
            <p class='my-1'>提案者 <span class='text-purple-400'><%= project.organizer %></span></p>
          </div>
          <div>
            <span class='my-1'>NT$ <%= project.current_total %></span>
          </div>
          <div class="relative h-4 my-1 rounded-md progress-container">
            <span id="progressPercent">0%</span>
            <div class="progress" data-controller='progressBar' data-percentage='<%= ((project.current_total.to_f / project.amount_target).round(2) * 100).to_i %>'></div>
          </div> 
          <div class=''>
            <span>倒數 <%= (project.end_time - project.created_at).to_i / 1.day %> 天</span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</main>  