<main>
  <section class='py-10 bg-gray-100'>
    <div class="max-w-6xl mx-auto">
      <h1 class="mb-5 text-center"><%= current_user.email %></h1>
    </div>
  </section>
  <div class="justify-between px-5 py-4 bg-white border-t-2 border-b-2 border-gray-300 border-double lg:flex">
    <div class="flex items-center justify-center h-16 max-w-6xl py-3 mx-auto font-semibold text-gray-400">
      <div class='current-page'>
        <%=link_to users_profile_path  do %>
        <p>提案者專案數</p>
        <p class="text-center"><span class='mr-1 text-3xl'><%= current_user.projects.count %></span>件</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="max-w-6xl grid-cols-9 mx-auto mt-8 md:grid">
    <% @projects.each do |project| %>
      <div class="col-span-3 pb-6 mx-5 FundraisingItem">
        <a href='projects/<%= "#{project.id}" %>'><img class="w-full rounded-3xl" src="https://picsum.photos/300/200/?random=10" alt="ss"/></a>
        <div class='mb-7'>
          <h3 class='my-1 text-xl font-semibold hover:text-purple-400'><%= link_to project.title, project_path(project) %></h3>
          <p class='my-1'>提案者 <span class='text-purple-400 hover:text-purple-300'><%= project.organizer %></span></p>
        </div>
        <div>
          <span class='my-1'>NT$ <%= project.current_total %></span>
        </div>
        <div class="relative h-4 my-4 rounded-md progress-container">
          <span id="progressPercent">0%</span>
          <div class="progress" data-controller='progressBar' data-percentage='<%= ((project.current_total.to_f / project.amount_target).round(2) * 100).to_i %>'></div>
        </div> 
        <div class=''>
          <span>倒數 <%= (project.end_time - project.created_at).to_i / 1.day %> 天</span>
        </div>
      </div>
    <% end %>
  </div>
</main>  