<main>  
  <section class='py-10 bg-gray-100'>
    <div class="max-w-6xl mx-auto">
      <h1 class="mb-3 text-2xl text-center text-semibold"><%= @project.title %></h1>
      <p class="mb-4 text-center">提案者 <a href="" class="primary-text-color"><%= @project.organizer %></a></p>
    </div>
  </section>
  <div class="px-5 font-semibold text-gray-400 bg-white border-t-2 border-b-2 border-gray-300 border-double">
    <div class="flex items-center justify-center h-16 max-w-6xl py-3 mx-auto lg:justify-start ">
      <%= link_to '專案內容', project_path(@project), class:"mx-5"%>
      <a href='<%= project_questions_path(@project)%>' class="mx-5">
        常見問題 <span class='text-xs align-top'><%= @project.questions.count%></span>
      </a>
      <a href='<%= project_comments_path(@project)%>' class="mx-5 current-page">
        留言專區 <span class='text-xs align-top'><%= @project.comments.count%></span>
      </a>
    </div>
  </div>
  <%# 留言區 %>
  <section class="py-8 border-b-2 border-gray-300 border-double">
    <div class='max-w-6xl grid-cols-10 gap-12 px-3 mx-auto lg:grid'>
      <div class='col-span-7 '>
        <div id="comment-area" class='p-4 border border-gray-300 rounded-lg '>
          <%= form_with model: @comment, class:'flex', url: project_comments_path(project_id: @project)  do |form| %>
            <%= form.hidden_field :parent_id, value: @comment.parent.id if @comment.parent.present?  %>
            <%= form.text_area :content, class:"rounded input-focus flex-1", placeholder:'請輸入留言'%>
            <%= form.submit "➤" , class:'comment-submit primary-text-color ml-2 px-2 cursor-pointer rounded-full'%>
          <% end %>
        </div>
        <div class=''>
          <% if @comment.nil?%>
            <a>目前沒有留言</a>
          <% else %>
            <ul>
              <% @comments.each do |comment| %>
                <li class="p-4 mt-3 border border-gray-300 rounded-lg">
                  <div class='flex justify-between'>
                    <p class="text-xl font-bold"><%= comment.user.username %></p>
                    <%= link_to "刪除留言", comment_path(comment), method: "delete",data: {confirm: "確定要刪除嗎"} , class:'hover:text-red-300' if current_user.present?%>
                  </div>
                  <p class="text-sm text-gray-500"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                  <div class='my-4'>
                    <p><%= comment.content %></p>
                  </div>
                  <div class='primary-text-color' data-controller="like" data-comment-id="<%=comment.id%>" data-like="<%=current_user&.liked?(comment)%>" data-comment-count="<%=comment.count%>"  >
                    <button id="like" data-action="click->like#like_comment">
                      <span data-like-target="love">♡</span>
                    </button>
                    <span id="like-count" data-like-target="count">
                      <%= comment.count %>
                    </span>
                  </div>
                  <div>
                    <%= render comment.comments %>
                  </div>
                  <div id="sub-comment-area" class='my-4'>
                    <% if comment.parent_id.nil? %>
                      <%= form_with model: @comment, class:'flex', url: project_comments_path(project_id: @project)  do |form| %>
                        <%= form.hidden_field :parent_id, value: comment.id %>
                        <%= form.text_area :content, class:"rounded input-focus flex-1 bg-gray-100", placeholder:'回覆'%>
                        <%= form.submit "➤" , class:'sub-comment-submit  primary-text-color ml-2 px-2 cursor-pointer rounded-full'%>
                      <% end %>
                    <% end %> 
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <%# silde-bar %>
      <div class='col-span-3 mt-5 lg:mt-0'>
        <div class='w-full p-4 border border-gray-300 border-solid rounded-xl'>
          <h2 class='mb-3 primary-text-color'><%= @project.organizer %></h2>
          <p class='mb-3'><%= @project.user.description%></p>
          <a href='' class="px-2 py-1 text-2xl duration-500 hover:bg-gray-100"><i class="fa-brands fa-square-facebook"></i></a>
          <a href='' class="px-2 py-1 text-2xl duration-500 hover:bg-gray-100"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </section>
</main>
