<h1>專案留言</h1>

<section class="py-5">
  <h2>留言</h2>
  <%= form_with model: @comment, url: project_comments_path(@project)  do |form| %>
    <%= form.text_area :content, class: "border-2 border-black-300 rounded"%>
    <%= form.submit "送出" %>
  <% end %>
  
  <ul>
    <% @comments.each do |comment| %>
    <li>
    <%= comment.content %>
    <%= link_to "刪除", comment_path(comment), method: "delete",data: {confirm: "確定要刪除嗎"} %>
    </li>
    <% end %>
  </ul>
  
</section>