<main>  
  <section class='py-10 bg-gray-100'>
    <div class="max-w-6xl mx-auto">
      <h2 class="mb-3 text-2xl text-center text-semibold"><%= @project.title %></h2>
      <p class="mb-4 text-center">提案組織 <span class="primary-text-color"><%= @project.organizer %></span></p>
    </div>
  </section>
  <div class='sticky top-0 z-10 bg-white border-t-2 border-b-2 border-gray-200 border-double'>
    <div class="justify-between max-w-6xl mx-auto text-sm md:text-base lg:flex">
      <div class="flex items-center justify-center h-16 font-semibold text-gray-400">
        <%= link_to '專案內容', project_path(@project), class:"mx-2 md:mx-5"%>
        <a href='<%= project_questions_path(@project)%>' class="mx-2 md:mx-5">
          常見問題 <span class='text-xs align-top '><%= @project.questions.count%></span>
        </a>
        <a href='<%= project_comments_path(@project)%>' class="mx-2 md:mx-5 current-page">
          留言專區 <span class='text-xs align-top '><%= @project.comments.count%></span>
        </a>
        <%= link_to '即時通訊', project_messages_path(@project), class:"mx-2 md:mx-5"%>
      </div> 
    </div>   
  </div>
  <%# 留言區 %>
  <section class="py-8 border-b-2 border-gray-300 border-double">
    <div class='max-w-xl grid-cols-10 gap-12 px-3 mx-auto lg:max-w-6xl lg:grid'>
      <div class='col-span-7 '>
        <div id="comment-area" class='p-4 border border-gray-300 rounded-lg '>
          <%= form_with model: @comment, class:'flex', url: project_comments_path(project_id: @project)  do |form| %>
            <%= form.hidden_field :parent_id, value: @comment.parent.id if @comment.parent.present?  %>
            <%= form.text_area :content, class:"rounded input-focus flex-1", placeholder:'請輸入留言'%>
            <%= form.submit "➤" , class:'comment-submit primary-text-color ml-2 px-2 cursor-pointer bg-gray-100 rounded-full'%>
          <% end %>
        </div>
        <div class=''>
          <% if @comment.nil?%>
            <a>目前沒有留言</a>
          <% else %>
            <ul>
              <% @comments.each do |comment| %>
                <li class="p-4 mt-3 border border-gray-300 rounded-lg">
                  <div class='grid grid-cols-10 gap-3'>
                    <div class='col-span-1 '>
                        <%= image_tag 'avatar1.png', class: 'rounded-2xl mr-3' %>
                    </div>
                    <div class='col-span-9'>
                      <div class='flex justify-between'>
                        <p class="flex-1 text-xl font-bold "><%= comment.user.username %></p>
                        <% if comment.user_id == current_user.id%>
                          <%= link_to "刪除留言", comment_path(comment), method: "delete",data: {confirm: "確定要刪除嗎"}, class:"ml-2" %>
                        <% end %>
                      </div>
                      <p class="text-sm text-gray-500"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                    </div>  
                  </div>  
                  <div class='my-2'>
                    <p><%= comment.content %></p>
                  </div>
                  <div class='primary-text-color' data-controller="like" data-comment-id="<%=comment.id%>" data-like="<%=current_user&.liked?(comment)%>" data-comment-count="<%=comment.count%>"  >
                    <button id="like" data-action="click->like#like_comment">
                      <span data-like-target="love">♡</span>
                    </button>
                    <span id="like-count" data-like-target="count">
                      <%= comment.count %>
                    </span>
                  </div>
                  <%= render comment.comments %>
                  <div id="sub-comment-area" class='my-4'>
                    <% if comment.parent_id.nil? %>
                      <%= form_with model: @comment, class:'flex', url: project_comments_path(project_id: @project)  do |form| %>
                        <%= form.hidden_field :parent_id, value: comment.id %>
                        <%= form.text_area :content, class:"rounded input-focus flex-1 bg-gray-100", placeholder:'回覆'%>
                        <%= form.submit "➤" , class:'sub-comment-submit  primary-text-color ml-2 px-2 cursor-pointer bg-gray-100 rounded-full'%>
                      <% end %>
                    <% end %> 
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div class='col-span-3 mt-5 lg:mt-0'>
        <article class='w-full p-4 border border-gray-300 border-solid rounded-xl'>
          <div class='flex'>
              <%= image_tag 'avatar1.png', class: 'rounded-2xl h-24 w-24 mr-3' %>
            <div>
              <h2 class='mb-3 text-xl primary-text-color'><%= @project.organizer %></h2>
              <i class="mr-2 text-2xl fa-brands fa-square-facebook"></i>
              <i class="text-2xl fa-brands fa-instagram"></i>
            </div>
          </div>
          <p class='mb-3 break-words'><%= @project.user.description%></p>
        </article>
      </div>
    </div>
  </section>
</main>
