<h1 class="text-4xl"> 專案 : <%= @project.project_title %> </h1>

<section class="py-5">
  <h2>留言</h2>
  <%= form_with model: @comment, url: project_comments_path(project_id: @project)  do |form| %>
    <%= form.text_area :content, class: "border-2 border-black-300 rounded"%>
    <%= form.submit "送出" %>
  <% end %>
  
  <ul>
    <% @comments.each do |comment| %>
      <li class="py-1 px-6">
        <div>User:<%= comment.user.email %></div>
        <div><%= comment.content %></div>
        <% if comment.user_id == current_user.id %>
          <%= link_to "刪除", comment_path(comment), method: "delete",data: {confirm: "確定要刪除嗎"} %>
        <% end %>
        <div data-controller="like" 
        data-comment-id="<%=comment.id%>" 
        data-like="<%=current_user.liked?(comment)%>" <%#判斷 true or false%>
        data-comment-count="<%=comment.count%>">
            <div class="flex">
              <button data-action="click->like#like_comment">
                <span data-like-target="love">♡</span> 
              </button>
              <div data-like-target="count" class="mx-2">
              <%= comment.count %>
              </div>
            </div>
        </div>
        <div class=' '>
          <ul>
            <% @comments.each do |comment| %>
              <li class="border border-gray-300 rounded-lg p-4 mt-3">
                <div class='flex justify-between'>
                  <p>留言者：mike(須改動態)</p>
                  <% if comment.user_id == current_user.id %>
                  <%= link_to "刪除留言", comment_path(comment), method: "delete",data: {confirm: "確定要刪除嗎"} , class:'hover:text-red-300'%>
                <% end %>
                </div>
                <div class='my-4'>
                  <p><%= comment.content %></p>
                </div>
                <div class='text-blue-400 ' data-controller="like" data-comment-id="<%=comment.id%>" data-like="<%=current_user.liked?(comment)%>" data-comment-count="<%=comment.count%>"  >
                  <button data-action="click->like#like_comment">
                    <span data-like-target="love">♡</span>
                  </button>
                  <span data-like-target="count">
                    <%= comment.count %>
                  </span>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%# silde-bar %>
      <div class='col-span-3'>
        <div class='p-4 border border-gray-300 border-solid w-full rounded-xl'>
          <h2 class='mb-3'><a href=''><%= @project.organizer %></a></h2>
          <p class='mb-3'>動態介紹動態介紹動態介紹動態介紹動態介紹動態介紹動態介紹...<a href='' class='text-blue-400 hover:text-blue-300'>查看更多</a></p>
          <a href='' class="hover:bg-gray-100 text-2xl px-2 py-1 duration-500"><i class="fa-brands fa-square-facebook"></i></a>
          <a href='' class="hover:bg-gray-100 text-2xl px-2 py-1 duration-500"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </section>
</main>
