<%= render "devise/shared/error_messages", resource: resource %>
<main class='bg-gray-50 py-10'>
  <div class="px-5 md:w-1/4 mx-auto">
    <h2 class="text-purple-400 font-medium text-2xl tracking-wider text-center">忘記密碼?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field ">
        <%= f.label :email , class:'block mt-4 mb-3' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"field rounded w-full pl-2 py-2 input-focus",placeholder: "請輸入Email" %>
      </div>
      <div class="actions my-5">
        <%= f.submit "按此寄送密碼重設信件" , class:'w-full bg-purple-400 hover:bg-purple-600 block rounded-xl text-white' %>
      </div>
    <% end %>
  </div>
</main>
