<main class="bg-gray-50" >
    <section id="banner">
        <%= javascript_pack_tag 'Banner' %>
    </section>
    <section class='pb-5 my-5'>
        <div class="flex items-end max-w-6xl mx-auto mb-4">
            <h2 class="mx-5 text-3xl font-extrabold">平台推薦</h2>
            <a class="text-purple-400" href="">More</a>
        </div>
        <div class="max-w-6xl grid-cols-9 mx-auto md:grid">
            <% @projects.each do |project| %>
                <div class="col-span-3 pb-6 mx-5 FundraisingItem">
                    <a href='projects/<%= "#{project.id}" %>'><img class="w-full rounded-3xl" src="https://picsum.photos/300/200/?random=10" alt="ss"/></a>
                    <div class='mb-7'>
                        <h3 class='my-1 text-xl font-semibold hover:text-pruple-400'><%= link_to project.title, project_path(project) %></h3>
                        <p class='my-1'>提案者 <span class='primary-text-color hover:text-pruple-300'><%= project.organizer %></span></p>
                    </div>
                    <div>
                        <span class='my-1'>NT$ <%= project.current_total %></span>
                    </div>
                    <div class="relative h-4 my-4 rounded-md progress-container">
                        <span id="progressPercent">0%</span>
                        <div class="progress" data-controller='progressBar' data-percentage='<%= ((project.current_total.to_f / project.amount_target).round(2) * 100).to_i %>'></div>
                    </div> 
                    <div class=''>
                        <span>倒數 <%= (project.end_time - project.created_at).to_i / 1.day %> 天</span>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
    <section id='feature' class="pb-5 my-5">
        <%= javascript_pack_tag 'Feature' %>
    </section>
    <section class='flex flex-col items-center py-5 propose'>
        <p class='text-center'>用群眾的力量，<br/>讓有價值的事物獲得更好的機會！</p>
        <button class='block py-3 my-6 text-white bg-purple-400 rounded-lg px-14 hover:bg-purple-300'><%= link_to "提案", new_project_path%></button>
    </section>
</main>