<% if @project.errors.any? %> 
  <div class='py-6 reverse-bg'>
    <p class='text-center'>資料有誤，請填寫正確格式：</p>
    <ul class='text-red-400'>
      <% @project.errors.full_messages.each do |message| %>
        <li class="text-center error_message"><%= message %></li> 
      <% end %> 
    </ul>
  </div>  
<% end %>
</div>
<main class='reverse-bg'>
  <div class='max-w-3xl py-12 mx-auto '>
    <div id="edit_project" class='p-8 bg-white shadow rounded-3xl'>
      <h2 class="py-4 my-4 text-2xl tracking-wider text-center text-white bg-purple-400 rounded-2xl " >編輯專案</h2>
      <%= form_for(@project) do |form| %>
        <div class="form-list">
          <%= form.label :organizer, "聯絡窗口 *", class:"form-list-label" %>
          <%= form.text_field :organizer, placeholder: "您的真實姓名", class:"form-list-field input-focus" %>
        </div>
        <div class="form-list">
          <%= form.label :email, "電子信箱 *", class:"form-list-label" %>
          <%= form.email_field :email, placeholder: "請確認您的電子信箱", class:"form-list-field input-focus" %>
        </div>
        <div class="form-list">
          <%= form.label :phone, "聯絡電話 *", class:"form-list-label" %>
          <%= form.telephone_field :phone, placeholder: "您的手機號碼，電話號碼請加入區碼", class:"form-list-field input-focus" %>
        </div> 
        <div class="form-list">
          <%= form.label :title, "提案名稱 *", class:"form-list-label" %>
          <%= form.text_field :title, placeholder: "可日後變更", class:"form-list-field input-focus" %>
        </div> 
        <div class="form-list">
          <%= form.label :amount_target, "提案目標金額 *", class:"form-list-label" %>
          <%= form.text_field :amount_target, placeholder: "團隊可簡略試算集資成本、生產或資金的運用，以推算出集資的門檻", class:"form-list-field input-focus" %>
        </div> 
        <div class="form-list">
          <%= form.label :end_time, "提案結束日期 *", class:"form-list-label" %>
          <%= form.date_field :end_time, class: "col-span-3 rounded ml-5 input-focus" %>
        </div>
        <div class="form-list">
          <%= form.label :avatar, "封面照片 *", class:"form-list-label" %>
          <%= form.file_field :avatar , class: "col-span-3 rounded ml-5 input-focus"%>
        </div>
        <div class="px-6 py-6 mb-4 border-2 border-purple-300 border-solid">
          <%= form.label :description, "提案描述 *", class:"primary-text-color" %>
          <%= form.rich_text_area :description , class:"input-focus" %>
        </div>
        <%= form.submit "確認送出", class:"field bg-purple-400 hover:bg-purple-600 w-full rounded px-6 py-2 text-white" %>
      <% end %>
    </div>
  </div>
</main>

