<h1 class="text-4xl font-bold">編輯提案</h1>

<%= form_for(@project) do |form| %>
    <%= form.label :organizer, "聯絡窗口姓名 *" %>
    <%= form.text_field :organizer, class: "border-2 border-black-300 rounded" %>
  </div>
  <div>
    <%= form.label :email, "電子郵件地址 *" %>
    <%= form.email_field :email, class: "border-2 border-black-300 rounded" %>
  </div>
  <div>
    <%= form.label :phone, "聯絡電話 *" %>
    <%= form.telephone_field :phone, class: "border-2 border-black-300 rounded"%>
  </div>
  <div>
    <%= form.label :project_title, "提案名稱 *" %>
    <%= form.text_field :project_title, class: "border-2 border-black-300 rounded" %>
  </div>
  <div>
    <%= form.label :project_amount_target, "提案目標金額（新台幣） *" %>
    <%= form.text_field :project_amount_target, class: "border-2 border-black-300 rounded"%>
  </div>
  <div>
    <%= form.label :project_end_time, "提案結束日期 *" %>
    <%= form.date_field :project_end_time, value: "%Y-%m-%d", class: "border-2 border-black-300 rounded"%>
  </div>
  <div class="flex">
    <%= form.label :avatar, "封面照片 *" %>
    <%= form.file_field :avatar%>
    <% if @project.avatar.attached?%>
    <div>封面圖片預覽:<%= image_tag @project.avatar.variant(resize: '300x200') %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :project_description, "提案描述 *" %>
    <%= form.rich_text_area :project_description , class: "border-2 border-black-300 rounded"%>
  </div>
  <%= form.submit "更新" %>
<% end %>

<% if @project.errors.any? %> 
  <ul>
    <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li> 
    <% end %> 
  </ul>
<% end %>