<h1 class="text-4xl font-bold">提案內容</h1>

<table>
  <tr>
    <td>提案名稱:</td>
    <td><%= @project.project_title %></td>
  </tr>
  <tr>
    <td>聯絡窗口姓名:</td>
    <td><%= @project.organizer %></td>
  </tr>
  <tr>
    <td>電子郵件地址:</td>
    <td><%= @project.email %></td>
  </tr>
  <tr>
    <td>聯絡電話:</td>
    <td><%= @project.phone %></td>
  </tr>
  <tr>
    <td>提案目標金額（新台幣）:</td>
    <td><%= @project.project_amount_target %></td>
  </tr>
  <tr>
    <td>提案結束日期:</td>
    <td><%= @project.project_end_time %></td>
  </tr>
  <tr>
    <td>提案描述:</td>
    <td><%= @project.project_description %></td>
  </tr>

</table>


<div class="font-bold">
  <% if @project.user_id == current_user.id %>
    <%= link_to "編輯", edit_project_path%>
    <%= link_to "刪除", project_path, method: "delete", data: {confirm: '確定要刪除嗎?'}%>
  <% end %>
    <%= link_to "回到提案清單", projects_path %>
    <%= link_to "留言", project_comments_path(@project) %>

</div>

<%= render partial: 'donate_items/donate_item', donate_items: @donate_items %>