<%= render "devise/shared/error_messages", resource: resource %>
<main class='py-10 bg-gray-100'>
  <div id="sign_in_form" class="px-5 mx-auto md:w-400">
    <h1 class="text-2xl font-medium tracking-wider text-center primary-text-color">歡迎光臨Wubay登入</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="py-6 field">
        <%= f.email_field :email, autofocus: true, placeholder: "請輸入Email", autocomplete: "email", class:"field rounded w-full pl-2 py-2 input-focus" %>
      </div>
      <div class="py-2 field">
        <%= f.password_field :password, placeholder: "請輸入密碼", class:"field rounded w-full pl-2 py-2 input-focus" , autocomplete: "current-password" %>
        <%= link_to "忘記密碼?", new_password_path(resource_name) , class:"block mt-2 text-sm primary-text-color hover:text-purple-300"%>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="my-2 field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "登入", class:"field bg-purple-400 hover:bg-purple-600 w-full rounded px-6 py-2 mt-4 text-white"  %>
      </div>
    <% end %>
    <div class='divider'>或</div>
    <div class='my-10'>
      <%= link_to '使用🇬google帳號繼續' , user_google_oauth2_omniauth_authorize_path, class:'outside-link mb-3' %>
      <%= link_to '使用🇫facebook帳號繼續' , user_facebook_omniauth_authorize_path, class:'outside-link' %>
    </div>
    <div class='py-10 my-5 border-t border-b border-gray-200 border-solid'>
      <p class='text-center'>還沒有帳號嗎？ <%= link_to "開始創建帳號", new_user_registration_path, class:"primary-text-color hover:text-purple-300" %></p>
    </div>
  </div>
</main>


