<main>
  <div class='border border-gray-300 boder-solid'>
    <div class="max-w-2xl mx-auto">
      <ul class='grid items-center justify-center h-16 grid-cols-3'>
        <li class='text-center'><%= link_to "個人頁面",users_profile_path %></li>
        <li class='text-center current-page'><%= link_to "交易紀錄", transactions_path%></li>
        <li class='text-center'><%= link_to "追蹤專案", follows_path %></li>
      </ul>
    </div>
  </div>
  <section class='pb-24 pt-14 bg-gray-50'>
    <h2 class="m-auto mb-10 text-xl text-center"><strong>〘 我 的 交 易 紀 錄 〙</strong></h2>
    <div class="text-xs md:text-base">
      <div class='ml-2 text-xs text-gray-500 lg:hidden'>左右滑動，即可查看完整訂單資訊</div>
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="sm:px-6 lg:px-8">
          <table class="mx-auto border border-separate border-gray-300 w-800 md:w-1000 border-spacing-5">
            <thead class="bg-purple-400 ">
              <tr>
                <th class="table-layout">
                  交易序號
                </th>
                <th class="table-layout">
                  贊助專案
                </th>
                <th class="table-layout">
                  贊助方案 
                </th>
                <th class="table-layout">
                  贊助金額（新台幣）
                </th>
                <th class="table-layout">
                  交易狀態 
                </th>
                <th class="table-layout">
                </th>
              </tr>
            </thead>
            <tbody>
              <% if @transactions.empty? %>
                <tr class='py-10 '>
                  <td class='text-center '>查無相關交易紀錄</td>
                </tr>
              <% else %>
                <% @transactions.each do |transaction| %>
                  <% if current_user.id === transaction.user_id %>
                    <tr class='bg-purple-200'>
                      <td class="table-layout"><%= transaction.serial %></td>
                      <td class="table-layout"><%= link_to Project.find_by!(id: DonateItem.find_by!(id: transaction.donate_item_id).project_id).title, project_path(id: DonateItem.find_by!(id: transaction.donate_item_id).project_id) %></td>
                      <td class="table-layout"><%= DonateItem.find_by!(id: transaction.donate_item_id).title %></td>
                      <td class="table-layout"><%= transaction.price %></td>
                      <td class="table-layout"><%= t("transaction_state.#{transaction.state}") %></td>
                      <% if transaction.state === 'pending' %>
                        <td class="text-red-400 table-layout"><%= link_to '取消交易訂單', transaction_path(transaction), method: 'delete', data:{confirm: '確定要取消嗎？' } %></td>
                        <% else %>
                        <td class="table-layout"></td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>



