<!DOCTYPE html>
<html>
  <head>
    <title>Wubay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/4b775a86e6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class='header'>
      <% if notice %>
        <div class="py-4 text-xl font-semibold text-center text-green-600 bg-green-300 notice" data-controller="message">
          <%= notice %>
        </div>
      <% end %>
      <div class="relative w-full text-lg border-b border-gray-200 text-slate-500 ">
        <nav class="flex items-center justify-between max-w-6xl mx-auto header-item h-70">
          <div class="header-webnav">
            <ul class="hidden lg:flex ">
              <li><%= link_to "首頁", root_path, class:"mx-5 hover:text-gray-400"%></li>
              <li><%= link_to "探索", projects_path, class:"mx-5 hover:text-gray-400"%></li>
              <li><%= link_to "提案", new_project_path, class:"mx-5 hover:text-gray-400"%></li>
            </ul>
            <!-- 手機側邊收縮導覽列 -->
            <input id="mobile-nav-switch" type="checkbox" class="hidden" />
            <label for="mobile-nav-switch" class="ml-8 text-2xl lg:hidden">
              <span class="inline-block"><i class="fa-solid fa-align-justify"></i></span>
              <span class="hidden"><i class="fa-solid fa-angle-left"></i></span>
            </label>
            <div class="absolute z-50 w-full px-16 text-gray-500 bg-white border-2 border-gray-200 mobile-nav top-20 py-7 lg:hidden">
              <div class="mb-3 text-2xl">
                <%= link_to "首頁", root_path, class:"px-4 pb-2 block"%>
                <%= link_to "探索", projects_path, class:"px-4 pb-2 block"%>
              </div>
              <div class="mb-3">
                <h2 class="font-bold primary-text-color">Themes</h2>
                <ul class="px-4 text-2xl">
                  <li class='py-2'>原創設計</li>
                  <li class='py-2'>社會公益</li>
                  <li class='py-2'>設計商品</li>
                </ul>
              </div>
              <div class="mb-3">
                <h2 class="font-bold primary-text-color">Member</h2>
                <ul class="px-4 text-2xl">
                  <% if user_signed_in? %>
                    <li class='py-2'><%= link_to "個人頁面",users_profile_path %></li>
                    <li class='py-2'><%= link_to "交易紀錄", transactions_path %></li>
                    <li class='py-2'><%= link_to "追蹤專案", follows_path %></li>
                    <li class='py-2'><%= link_to "編輯個人資料", edit_user_registration_path %></li>
                    <li class='py-2'><%= link_to "登出", destroy_user_session_path, method: 'delete'%></li>
                  <% else %>
                    <%= link_to "登入", new_user_session_path, class:"block py-2"%>
                    <%= link_to "註冊", new_user_registration_path, class:"block py-2" %>
                  <% end %>
                </ul>
              </div>
              <div class="mb-3">
                <h2 class="font-bold primary-text-color">Proposal</h2>
                <%= link_to "提案", new_project_path, class:"px-4 block py-4 text-2xl"%>
              </div>
              <div class="flex justify-center">
                <div>
                  <p>Copyright ©2022 Wubay <br/> All rights reserved</p>
                </div>
              </div>
            </div>
          </div>
          <!-- LOGO -->
          <div class="absolute w-40 transform translate-x-1/2 right-1/2">
            <a href="/"><%= image_tag('wubay.png') %></a>
          </div>
          <%# 搜尋及會員相關 %>
          <div class="flex items-center">
            <div id="searchBar">
              <%= javascript_pack_tag 'SearchBar' %>
            </div>
              <!-- 會員相關  -->
            <div class="relative mr-6 member primary-text-color" data-controller='memberSwitch'>
              <div class='items-center hidden lg:flex'>
                <% if user_signed_in? %>
                  <button class="px-5 py-2 ml-6 text-white bg-purple-400 border-4 border-white border-double rounded-full" data-action="click->memberSwitch#switch" data-memberSwitch-target="button"><i class="text-xl fa-regular fa-user"></i></button>
                <% else %>
                  <%= link_to "登入", new_user_session_path, class:"mx-5"%>
                  <%= link_to "註冊", new_user_registration_path, class:"px-5 py-3 rounded-md border border-purple-400 hover:bg-purple-400 hover:text-white duration-300" %>
                <% end %>
              </div>
              <%# 收合會員功能 %>
              <div class='absolute right-4 bg-white z-50 rounded-lg shadow-2xl 	box-shadow: 0 0 20px 10px rgb(0 0 0) hidden' data-memberSwitch-target="memberCenter">
                <ul class='w-40 py-2 text-sm primary-text-color'>
                  <li class='py-2 pl-4 border-b border-gray-200'><%= link_to "個人頁面",users_profile_path, class:'hover:text-purple-300' %></li>
                  <li class='py-2 pl-4'><%= link_to "交易紀錄", transactions_path, class:'hover:text-purple-300' %></li>
                  <li class='py-2 pl-4 border-b border-gray-200'><%= link_to "追蹤專案", follows_path, class:'hover:text-purple-300'%></li>
                  <li class='py-2 pl-4'><%= link_to "編輯個人資料", edit_user_registration_path, class:'hover:text-purple-300' %></li>
                  <li class='py-2 pl-4'><%= link_to "登出", destroy_user_session_path, method: 'delete', class:'hover:text-purple-300'%></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %> 
    <footer class="p-10 text-sm border-t-2 border-gray-200 md:pt-20">
      <div class='max-w-6xl px-10 mx-auto'>
        <div class='grid max-w-3xl grid-cols-2 gap-4 mx-auto md:grid-cols-4 footer-items'>
          <div class=''>
            <ul class='flex-col items-center md:flex'>
              <h2 class="my-4 text-base font-semibold ">關於</h2>
              <li>關於我們</li>
              <li>Wubay徽章認證</li>
              <li>贊助保障規範</li>
              <li>提案服務說明</li>
            </ul>
          </div>
          <div class=''>
            <ul class='flex-col items-center md:flex'>
              <h2 class="my-4 text-base font-semibold">支援</h2>
              <li>常見問題</li>
              <li>使用條款</li>
              <li>隱私權政策</li>
              <li>免責聲明</li>
            </ul>
          </div>
          <div class=''>
            <ul class='flex-col items-center md:flex'>
              <h2 class="my-4 text-base font-semibold">聯繫</h2>
              <li>聯繫我們</li>
              <li>提案諮詢</li>
              <li>品牌資源</li>
            </ul>
          </div>
          <div class=''>
            <ul class='flex-col items-center md:flex'>
              <h2 class="my-4 text-base font-semibold">更多內容</h2>
              <li>Wubay集器</li>
              <li>Wubay放大</li>
              <li>群眾觀點</li>
            </ul>
          </div>
        </div> 
        <div class='my-6 text-4xl text-center'>
          <a href='https://github.com/WaBay-fantastic-winner/wubay' ><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="my-5 text-center">
          <p>Copyright ©2022 Wubay <br/> All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
