<!DOCTYPE html>
<html>
  <head>
    <title>Wabay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# 顯示使用者登入與否狀態 %>
    <h1 class="text-5xl">Hello Wubay</h1>
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to "贊助交易紀錄", transactions_path %>
      <%= link_to "登出", destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to "登入", new_user_session_path %>
      <%= link_to "註冊", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
