<!DOCTYPE html>
<html>
  <head>
    <title>Wabay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-50 max-w-8xl mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%# 顯示使用者登入與否狀態 %>
      <ul class="flex justify-end max-w-7xl mx-auto">
        <% if user_signed_in? %>
        <li>
          <%= current_user.email %>
          <%= link_to "登出", destroy_user_session_path, method: 'delete' %>
        </li>
        <% else %>
          <%= link_to "登入", new_user_session_path, class:"pl-1.5"  %>
          <%= link_to "註冊", new_user_registration_path %>
        <% end %>
      </ul>
      <div class=" max-w-7xl mx-auto flex flex-wrap justify-center ">
      <%= yield %>
      </div>
  </body>
</html>
